In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Downloads/archive (3)/crop_yield.csv")

In [3]:
df['Crop'] = df['Crop'].str.strip()
df['Season'] = df['Season'].str.strip()
df['State'] = df['State'].str.strip()

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df['Crop_Year'] = df['Crop_Year'].astype(int)
df['Area'] = df['Area'].astype(float)
df['Production'] = df['Production'].astype(float)

In [6]:
df = df[(df['Area'] > 0) & (df['Production'] >= 0) & (df['Yield'] >= 0)]

In [7]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [8]:
print("âœ… Cleaned Dataset Summary:")
print(df.info())
print("\nMissing Values:\n", df.isnull().sum())
print("\nSample Data:\n", df.head())

âœ… Cleaned Dataset Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   crop             19689 non-null  object
 1   crop_year        19689 non-null  int64
 2   season           19689 non-null  object
 3   state            19689 non-null  object
 4   area             19689 non-null  float64
 5   production       19689 non-null  float64
 6   annual_rainfall  19689 non-null  float64
 7   fertilizer       19689 non-null  float64
 8   pesticide        19689 non-null  float64
 9   yield            19689 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.5+ MB
None

Missing Values:
 crop               0
crop_year          0
season             0
state              0
area               0
production         0
annual_rainfall    0
fertilizer         0
pesticide          0
yield              0
dtype: int64

Sample Data:
            crop  crop_year      season  state     area   production  \
0      Arecanut       1997  Whole Year  Assam  73814.0      56708.0
1     Arhar/Tur       1997      Kharif  Assam   6637.0       4685.0
2   Castor seed       1997      Kharif  Assam    796.0         22.0
3       Coconut       1997  Whole Year  Assam  19656.0  126905000.0
4  Cotton(lint)       1997      Kharif  Assam   1739.0        794.0

   annual_rainfall  fertilizer  pesticide        yield
0           2051.4  7024878.38   22882.34     0.796087
1           2051.4   631643.29    2057.47     0.710435
2           2051.4    75755.32     246.76     0.238333
3           2051.4  1870661.52    6093.36  5238.051739
4           2051.4   165500.63     539.09     0.420909

In [9]:
df.to_csv("cleaned_crop_yield.csv", index=False)
print("\nðŸ’¾ Cleaned file saved as 'cleaned_crop_yield.csv'")

ðŸ’¾ Cleaned file saved as 'cleaned_crop_yield.csv'